.container {
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    overflow: scroll;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 50vw;
}

.title {
    display: flex;
    justify-content: center;
   
}

.count {
    display: flex;
    justify-content: end;
   
}

.box2 {
    display: flex;
    flex-direction: column;
    
   
    align-items: center;
}

.input {
    display: flex;
    width: 25vw;
    
}

.btn {
    display: flex;
    
    width: 50px;
}

::-webkit-scrollbar {

    display: none;
  }